[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
"beautifulsoup4" = "~=4.6"
dataclasses = "==0.5"
lxml = "~=4.0"

[dev-packages]
pytest = "~=3.2"
"pytest-catchlog" = "~=1.2"
"pytest-cov" = "~=2.5"
"twine" = "~=1.9"
