<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:mixi="http://mixi-platform.com/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="google-site-verification" content="S2Jzwn_Dm4hGoyTfPnxEUSKnbHSuT73N6SZbTanWbEM" />
<link rel="apple-touch-icon" href="/images/web/common/apple_touch_icon_57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="/images/web/common/apple_touch_icon_72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/images/web/common/apple_touch_icon_76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/images/web/common/apple_touch_icon_114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/images/web/common/apple_touch_icon_120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/images/web/common/apple_touch_icon_144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/images/web/common/apple_touch_icon_152x152.png">
<meta name="msapplication-config" content="/browserconfig.xml" />
<link rel="shortcut icon" href="/images/web/common/favicon.ico">




      <link rel="canonical" href="http://www.dlsite.com/maniax/announce/=/product_id/RJ189758.html" />
    <link rel="alternate" hreflang="ja" href="http://www.dlsite.com/maniax/announce/=/product_id/RJ189758.html" />
<link rel="alternate" hreflang="en" href="http://www.dlsite.com/ecchi-eng/announce/=/product_id/RE189758.html" />  <meta name="description" content="意地悪な機械人形に完全支配される音声 地獄級射精禁止オナニーサポート4 ヘルエグゼキューション [B-bishop] DLsite Maniax ダウンロード販売 | 購入してすぐにダウンロード、保管場所にも困らない。二次元総合ダウンロードショップ。">
  <meta name="keywords" content="意地悪な機械人形に完全支配される音声 地獄級射精禁止オナニーサポート4 ヘルエグゼキューション,B-bishop,音声作品,ロボッ娘,オナニー,焦らし,男性受け,洗脳,無表情">
  <title>意地悪な機械人形に完全支配される音声 地獄級射精禁止オナニーサポート4 ヘルエグゼキューション [B-bishop] 予告作品 | DLsite Maniax - 成人向け</title>


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@DLsiteManiax">
<meta name="twitter:image:src" content="http://img.dlsite.jp/modpub/images2/ana/doujin/RJ190000/RJ189758_ana_img_main.jpg" />

<meta property="og:title" content="意地悪な機械人形に完全支配される音声 地獄級射精禁止オナニーサポート4 ヘルエグゼキューション [B-bishop] 予告作品 | DLsite" />
<meta property="og:type" content="website" />
<meta property="og:description" content="過去最大難易度の地獄級射精禁止オナニーサポートの登場です。感情のない機械人形にたっぷりとオナニーで実験されてください。終盤では複数の女性にオナニーを見学されてしまいます。" />
<meta property="og:url" content="http://www.dlsite.com/maniax/announce/=/product_id/RJ189758.html" />
<meta property="og:image" content="http://img.dlsite.jp/modpub/images2/ana/doujin/RJ190000/RJ189758_ana_img_sam.jpg" />
<meta property="og:site_name" content="DLsite.com" />
<meta property="fb:app_id" content="226115600829997" />
<meta property="mixi:content-rating" content="1" />


<script>/dlsite_dozen=/.test(document.cookie) || (document.cookie = 'dlsite_dozen=' + Math.floor(Math.random() * 12) + '; path=/; max-age=63072000')</script>
<link rel="stylesheet" href="/css/reset.css?1459221919" type="text/css" id="reset" />
<link rel="stylesheet" href="/css/default.css?1477291019" type="text/css" id="default" />
<link rel="stylesheet" href="/css/layout_2col_work.css?1481864203" type="text/css" id="layout_2col_work" />
<link rel="stylesheet" href="/css/common.css?1482375928" type="text/css" id="common" />
<link rel="stylesheet" href="/css/switch.css?1459221917" type="text/css" id="switch" />
<link rel="stylesheet" href="/css/suggest.css?1459221920" type="text/css" id="suggest" />
<link rel="stylesheet" href="/css/fonts.css?1481781759" type="text/css" id="fonts" />
<link rel="stylesheet" href="/css/work_template.css?1482375928" type="text/css" id="work_template" />
<link rel="stylesheet" href="/css/popover.css?1459221917" type="text/css" id="popover" />

<script type="text/javascript" src="/js/jquery-1.10.2.min.js?1406007514"></script>
<script type="text/javascript" src="/js/libs/underscore-min.js?1435214725"></script>
<script type="text/javascript" src="/js/json2.js?1406007515"></script>
<script type="text/javascript" src="/js/footerFixed.js?1406007515"></script>
<script type="text/javascript" src="/js/jquery.cookie.js?1406007514"></script>
<script type="text/javascript" src="/js/dlsite_util.js?1481590367"></script>
<script type="text/javascript" src="/js/slide_menu.js?1435825216"></script>
<script type="text/javascript" src="/js/dlsite_suggest.js?1449823751"></script>
<script type="text/javascript" src="/js/dlsite_mygenre_popup.js?1460702612"></script>
<script type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js?1406007514"></script>
<script type="text/javascript" src="/js/dlsite_trigger.js?1406007515"></script>
<script type="text/javascript" src="/js/jquery.slideproduct.js?1453170222"></script>
<script type="text/javascript" src="/js/dlsite_img_filter.js?1449106189"></script>
<script type="text/javascript" src="/js/dlsite.popover.js?1449126970"></script>
<script type="text/javascript" src="/js/announce/wishlist.js?1460702612"></script>
<script type="text/javascript" src="/js/dlsite_IE_support_alert.js?1453359844"></script>

<script type="text/javascript">
var tag_login = $.cookie('loginchecked');
var tag_getparam = location.search.substring(1).split('&');
var ga_tracking_path = undefined;
</script>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NTSRG2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer', 'GTM-NTSRG2');</script>
<!-- End Google Tag Manager -->
<script type="text/javascript" src="/js/adultcheck.js"></script>
<meta http-equiv="PICS-Label" content='(PICS-1.1"http://www.iajapan.org/rating/" r(lv 4) )'> 

<!--[if IE 6]>
<script type="text/javascript" src="/js/DD_belatedPNG.js"></script>
<script>
 DD_belatedPNG.fix('a,img,div,li,td,h1,h2,h3,h4,h5,table,p');
</script>
<![endif]-->

<!--[if lte IE 6]>
<script type="text/javascript" src="minmax.js"></script>
<![endif]-->
<link rel="alternate" media="only screen and (max-width: 640px)" href="http://www.dlsite.com/maniax-touch/announce/=/product_id/RJ189758.html" />
</head>
<body>
<!-- container -->
<div itemscope itemtype="http://schema.org/Product" id="container">

<div id="top_header">
    
<script type="text/javascript">
//<![CDATA[
(function(){
    if (/Android|iPhone|iPad|iPod/.test(navigator.userAgent))
    {
        var _redirect = undefined;

        // confirm action
        var a = function(){ return window.confirm('スマートフォン専用サイトを表示しますか。') };

        // localStorage support
        var b = window['localStorage'] && function()
        {
            // last access (msec)
            (Date.now() > (localStorage.getItem('SITE_SELECTED') || 0) - 0 + 1000 * 60 * 60 * 12) && localStorage.removeItem('SHOW_TOUCH');
            localStorage.setItem('SITE_SELECTED', Date.now());

            var redirect = localStorage.getItem('SHOW_TOUCH') || undefined;

            if (redirect === undefined)
            {
                localStorage.setItem('SHOW_TOUCH', redirect = a());
            }

            return redirect && redirect !== 'false';
        }

        // redirect to smartphone
        if (b ? b() : a())
        {
            window.stop();
            location.href = location.search
                ? 'http://www.dlsite.com/maniax-touch/announce/=/product_id/RJ189758.html'.replace(/\/$/, '') + '/' + location.search
                : 'http://www.dlsite.com/maniax-touch/announce/=/product_id/RJ189758.html';

            return false;
        }
    }
})();
//]]>
</script>


</div>

<!-- header -->
<div id="header">
    <!-- headline -->
<div id="headline" class="clearfix">
<div id="utility_menu"><span class="welcome_icon"><a href="http://www.dlsite.com/maniax/welcome">初めての方へ</a></span>|<span><a href="https://ssl.dlsite.com/maniax/regist/user">ユーザー登録（無料）</a></span>|<span><a href="http://www.dlsite.com/maniax/circle/invite">サークル登録（無料）</a></span>|<span><a href="http://www.dlsite.com/maniax/affiliate/guide/user">アフィリエイト</a></span>|<span><a href="https://ssl.dlsite.com/maniax/mailmagazine">メルマガ</a></span>|<span><a href="http://www.dlsite.com/maniax/contact">ヘルプ</a></span>|<span><a href="http://www.dlsite.com/ecchi-eng/">English</a></span></div>
<p id="header_message">同人誌、同人ゲームをその場でダウンロード！国内最大級のオタクコンテンツ総合ダウンロードショップ</p>
</div>
<!-- /headline -->

<!-- header_top -->
<div id="header_top" class="clearfix">
<div id="logo" class="logo_20th"><a href="http://www.dlsite.com/maniax/"><img src="/images/web/home/logo_20th.gif" alt="DLsite.com" title="DLsite.com" /></a><span id="category_logo">    <img src="/images/web/home/category_logo_maniax.gif" />
</span></div>


<div id="logo_02" class="bcs_viewer" data-service="dlsite" data-site="common" data-frame="header-logo-doujin" data-ext-empty="logo_02" data-ext-replace-siteid="maniax" ></div>



<ul id="guide_nav">
<li id="nav_login"><a href="https://ssl.dlsite.com/maniax/login" title="ログイン">ログイン</a></li>
<li id="nav_mypage"><a href="http://www.dlsite.com/maniax/mypage/top" title="マイページ">マイページ</a></li>
<li id="nav_circle"><a href="https://ssl.dlsite.com/circle/" title="サークル管理">サークル管理</a></li>
</ul>
</div>
<!-- /header_top -->

<!-- header_menu -->
<div id="header_menu">
<table id="header_main">
<tr>
<td class="category_nav_box" id="adult">
<ul class="category_nav">
<li id="cn_maniax_on"><a href="http://www.dlsite.com/maniax/">同人</a></li>
<li id="cn_pro"><a href="http://www.dlsite.com/pro/">PCソフト</a></li>
<li id="cn_books"><a href="http://www.dlsite.com/books/">電子書籍</a></li>
<li id="cn_nijiyome"><a href="http://www.nijiyome.com/lp/app371_03?en=dlsite&em=tab&et=maniax" target="_blank">超銀河船団∞ -INFINITY- - にじよめ</a></li></ul>
</td>
<td id="search_area">
<form action="http://www.dlsite.com/maniax/fs" method="post">
<input name="_qf__fulltext_search" type="hidden" value="" />
<input name="_layout" type="hidden" value="fs" />
<input name="_site" type="hidden" value="maniax" />
<input name="_form_id" type="hidden" value="FulltextSearchProductForm" />
<input name="_view" type="hidden" value="input" />
<input name="from" type="hidden" value="fs.header" id="header_search_from" />
<table>
<tr>
<td id="search_select">
<select name="site_category">
<option value="" selected>成人向けすべて</option>
<option value="maniax">成人向け同人</option>
<option value="pro">成人向けPCソフト</option>
<option value="books">成人向け電子書籍</option>
</select>
</td>
<td class="search_t"><input name="keyword" type="text" id="search_text" maxlength="255" autocomplete="off" /></td>
<td class="search_btn"><input name="_submit" value="検索" type="image" src="/images/web/home/btn_g_search.gif" id="search_button" /></td>
</tr>
</table>
</form>
</td>
<td class="nav_favorite"><a href="http://www.dlsite.com/maniax/mypage/wishlist" title="お気に入り">お気に入り</a></td>
<td class="nav_cart"><a href="http://www.dlsite.com/maniax/cart" title="カート">カート</a></td>
<td class="nav_play"><a href="http://play.dlsite.com/" target="_blank" title="購入済み作品">購入済み作品</a></td>
</tr>
</table>

<div id="header_menu2">
<table class="sub_nav" id="sv_maniax">
<tr>
<td id="sub_nav_home"><p><a href="http://www.dlsite.com/maniax/">ホーム</a></p></td>
    <td><p><a href="http://www.dlsite.com/maniax/ranking/day">ランキング</a></p></td>
<td><p><a href="http://www.dlsite.com/maniax/fsr/=/dlsite_only/1/work_category/doujin/show_type/3/per_page/100">DLsite専売作品</a><span class="_new" /></p></td>
<td><p><a href="http://www.dlsite.com/maniax/circle/report/index">おすすめ特集</a></p></td>
<td><p><a href="http://www.dlsite.com/maniax/new">発売カレンダー</a></p></td>
<td><p><a href="http://www.dlsite.com/maniax/announce/list/day">発売予告作品</a></p></td>
<td><p><a href="http://www.dlsite.com/maniax/circle/list">サークル一覧</a></p></td>
<td><p><a href="http://www.dlsite.com/maniax/fs">詳細検索</a></p></td>
</tr>
</table>
</div>

</div>
<!-- /header_menu -->
    <script type="text/javascript">
if ($.cookie('loginchecked') >= 1) {
  $("li#nav_login").children().attr("title", "ログアウト")
  $("li#nav_login").attr("id", "nav_logout")
  if ($.cookie('loginchecked') == 1) {
      $("li#nav_circle").children().attr("title", "").attr("href", "https://ssl.dlsite.com/maniax/login")
  } else {
      $("li#nav_circle").children().attr("title", "").attr("href", "https://ssl.dlsite.com/circle/")
  }
  $("li#nav_circle").attr("id", "nav_circle")
} else {
  $("li#nav_logout").children().attr("title", "ログイン")
  $("li#nav_logout").attr("id", "nav_login")
  $("li#nav_circle").children().attr("title", "ログイン").attr("href", "https://ssl.dlsite.com/maniax/login")
  $("li#nav_circle").attr("id", "nav_circle")
}
</script>

    
</div>
<!-- /header -->

<!-- top_wrapper -->
<div id="top_wrapper" class="clearfix">
    <p id="topicpath" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
<a href="http://www.dlsite.com/maniax/" itemprop="url"><span itemprop="title">ホーム</span></a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="http://www.dlsite.com/maniax/circle/profile/=/maker_id/RG18195.html" itemprop="url"><span itemprop="title">B-bishop</span></a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="http://www.dlsite.com/maniax/announce/=/product_id/RJ189758.html" itemprop="url"><span itemprop="title">意地悪な機械人形に完全支配される音声 地獄級射精禁止オナニーサポート4 ヘルエグゼキューション</span></a></p>

<div class="base_title_br clearfix">
<h1 itemprop="name" id="work_name">
<a href="http://www.dlsite.com/maniax/announce/=/product_id/RJ189758.html" itemprop="url">
意地悪な機械人形に完全支配される音声 地獄級射精禁止オナニーサポート4 ヘルエグゼキューション</a>
</h1>
<div class="link_dl_ch"><a class="dl_ch_button matome" target="_blank" href="http://ch.dlsite.com/">-</a><a class="dl_ch_button talk" target="_blank" href="http://ch.dlsite.com/">-</a></div>
<script>
$(function() {
    // DLチャンネルから情報を取得
    var workno = 'RJ189758', url = '';
    $link_dl_ch = $('.link_dl_ch');
    $.ajax({
      type: 'GET',
      url: 'http://ch.dlsite.com/api/channel/channel-content/' + workno,
      cache: true,
      dataType: 'jsonp',
      jsonpCallback: 'dlchannel_content_api_callback',
      success: function(json) {
        if(json.play_id) {
            url = 'http://ch.dlsite.com/antenna/' + json.play_id + '/contents';
            $link_dl_ch.find('.matome').attr('href', url + '?mode=matome').text(json.matomes_count);
            $link_dl_ch.find('.talk').attr('href', url + '?mode=talk').text(json.talks_count);
        }
      }
    });
});
</script>
<span class="link_twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://dlsite.jp/maatw/RJ189758"  data-text="意地悪な機械人形に完全支配される音声 地獄級射精禁止オナニーサポート4 ヘルエグゼキューション/B-bishop" data-lang="ja" data-hashtags="DLsite">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</span></div>
</div>
<!-- /top_wrapper -->

<!-- wrapper -->
<div id="wrapper">


<!-- main -->
<div id="main">
<!-- main_inner -->
<div id="main_inner">
<div id="work_header" class="clearfix">

  <div id="work_left">
    <table cellspacing="0" id="work_value">
      <tr>
        <td class="work_rankin"></td>
        <td class="work_dl"><div>お気に入り登録数&nbsp;:&nbsp;<span class="_wishlist_count_RJ189758"></span></div></td>
      </tr>
    </table>

<div id="work_visual" style="background-image: url(//img.dlsite.jp/modpub/images2/ana/doujin/RJ190000/RJ189758_ana_img_main.jpg); width: 560px; height: 420px;" ></div>


  </div>


  <div id="work_right">
    <div id="work_right_inner">

      <div id="work_right_name">
        <table id="work_maker">
          <tr>
            <th>サークル名&nbsp;:&nbsp;</th>
            <td><span class="maker_name"><a href="http://www.dlsite.com/maniax/circle/profile/=/maker_id/RG18195.html"><span itemprop="brand">B-bishop</span></a></span><span class="add_mygenre"><a href="http://www.dlsite.com/maniax/mypage/mygenre/add/=/maker_id/RG18195.html"><img src="/images/web/home/btn_mygenre.png" alt="" ></a></span></td>
          </tr>


          <tr>
            <th>ホームページ&nbsp;:&nbsp;</th>
            <td><a rel="nofollow" href="http://pawnlank7.blog.fc2.com/" target="_blank">http://pawnlank7.blog.fc2.com/</a></td>
          </tr>
        </table>
      </div>

      <table cellspacing="0" id="work_outline">
        <tr>
            <th>予告開始日&nbsp;:&nbsp;</th>
          <td><a href="http://www.dlsite.com/maniax/announce/list/day/=/year/2016/mon/12/day/04">2016年12月04日</a></td>
        </tr>

        <tr>
          <th>シリーズ名&nbsp;:&nbsp;</th>
          <td><a href="http://www.dlsite.com/maniax/fsr/=/keyword_work_name/%E5%9C%B0%E7%8D%84%E7%B4%9A%E3%82%AA%E3%83%8A%E3%83%8B%E3%83%BC%E3%82%B5%E3%83%9D%E3%83%BC%E3%83%88+SRI0000011759/from/work.series">地獄級オナニーサポート</a></td>
        </tr>


        <tr>
          <th>年齢指定&nbsp;:&nbsp;</th>
          <td><div class="work_genre"><a href="http://www.dlsite.com/maniax/fsr/=/work_category%5B0%5D/doujin/age_category/3/from/icon.announce"><span class="icon_ADL" title="18禁">18禁</span></a></div></td>
        </tr>

        <tr>
          <th>作品形式&nbsp;:&nbsp;</th>
          <td><div class="work_genre"><a href="http://www.dlsite.com/maniax/fsr/=/work_category/doujin/work_type%5B0%5D/MDC/work_type%5B1%5D/ICG/work_type%5B2%5D/IN2/work_type%5B3%5D/NR2/work_type%5B4%5D/MOV/work_type%5B5%5D/TOL/work_type%5B6%5D/SOU/work_type%5B7%5D/MUS/work_type%5B8%5D/ET4/from/icon.announce"><span class="icon_SOF" title="同人ソフト">同人ソフト</span></a><a href="http://www.dlsite.com/maniax/fsr/=/work_category%5B0%5D/doujin/work_type/SOU/from/icon.announce"><span class="icon_SOU" title="音声作品">音声作品</span></a></div></td>
        </tr>

        <tr>
          <th>ファイル形式&nbsp;:&nbsp;</th>
          <td><div class="work_genre"><a href="http://www.dlsite.com/maniax/fsr/=/work_category%5B0%5D/doujin/file_type/MP3/from/icon.announce"><span class="icon_MP3" title="オーディオ(MP3)">オーディオ(MP3)</span></a></div></td>
        </tr>

        <tr>
          <th>対応OS&nbsp;:&nbsp;</th>
          <td>
<dl class="os_pc"><dt>[PC]</dt><dd>WindowsVista / Windows7 / Windows8 / Windows8.1 / Windows10</dd></dl>          </td>
        </tr>


        <tr>
          <th>その他&nbsp;:&nbsp;</th>
          <td><div class="work_genre"><a href="http://www.dlsite.com/maniax/fsr/=/work_category%5B0%5D/doujin/options/SND/from/icon.announce"><span class="icon_SND" title="音声あり">音声あり</span></a><a href="http://www.dlsite.com/maniax/fsr/=/work_category%5B0%5D/doujin/options/TRI/from/icon.announce"><span class="icon_TRI" title="体験版あり">体験版あり</span></a></div></td>
        </tr>


        <tr>
          <th>イベント&nbsp;:&nbsp;</th>
          <td><span class="icon_EVT" title="コミックマーケット91"><a href="http://www.dlsite.com/maniax/fsr/=/ana_flg/all/options/C91/from/icon.announce">コミックマーケット91</a></span></td>
        </tr>

        <tr>
          <th>ジャンル&nbsp;:&nbsp;</th>
          <td><div class="main_genre"><a href="http://www.dlsite.com/maniax/fsr/=/genre/252/from/work_ana.genre">ロボッ娘</a>&nbsp;<a href="http://www.dlsite.com/maniax/fsr/=/genre/135/from/work_ana.genre">オナニー</a>&nbsp;<a href="http://www.dlsite.com/maniax/fsr/=/genre/152/from/work_ana.genre">焦らし</a>&nbsp;<a href="http://www.dlsite.com/maniax/fsr/=/genre/156/from/work_ana.genre">男性受け</a>&nbsp;<a href="http://www.dlsite.com/maniax/fsr/=/genre/326/from/work_ana.genre">洗脳</a>&nbsp;<a href="http://www.dlsite.com/maniax/fsr/=/genre/198/from/work_ana.genre">無表情</a></div></td>
        </tr>

      </table>



      <div class="trial_download clearfix">
<p class="trial_file"><a href="//trial.dlsite.com/doujin/RJ190000/RJ189758_ana_trial.zip"><img src="/images/web/home/btn_trial_down.png" alt="体験版"></a></p>
      </div>
    </div>
  </div>

</div>


<div class="title_01 clearfix"><h2>作品内容</h2></div>
<div itemprop="description" class="work_article work_story">
皆様、こんにちは。サークルB-bishopのpawnlank7と申します。<br />
今作は、地獄級に激しいオナニーサポート作品第4弾です。<br />
<br />
機械人形の『シコシコ』というボイスにあわせてオナニーをすることになり、全てを機械人形に支配されます。<br />
シコシコの声はセリフとは別で流れますので、言葉責めも絶え間なくお楽しみいただけます。<br />
<br />
今作では機械人形に実験と称した地獄を味わわされます。<br />
『ヘルエグゼキューション』は地獄の執行を意味します。<br />
<br />
なお、今作では終盤に複数の女性が登場し、オナニーを見学されるシーンがございます。<br />
モードによっての難易度に大きな差を設けてありますので、お好みでご試聴くださいませ。<br />
特にヘルモードでは極めて厳しい内容になっております。<br />
<br />
☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆3種類の難易度設定☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆<br />
<br />
本作品では、ハードモード、ベリーハードモード、ヘルモードのレベルをご用意しております。<br />
これはオナニーパートのトラック数の違いです。<br />
トラックが進むにつれて段階的に厳しくなりますので、軽い難易度のものほど後半のトラックは削除されております。<br />
<br />
●ハードモード<br />
基本的なプレイが中心のベーシックな内容ですが、射精を強く禁止され、言葉責めも多量となっております。<br />
シーン08,09を削除<br />
<br />
●ベリーハードモード<br />
さらに視聴者を追い込むトラックが追加されており、内容はとても過酷です。<br />
シーン10を削除<br />
<br />
●ヘルモード<br />
すべてのシナリオをご堪能いただけますが、大変厳しい内容で、極めて残酷な内容となっております。<br />
シーン11は特別仕様<br />
<br />
重複するシナリオはありますが、ハードモードから徐々に慣らしていくことをオススメいたします。<br />
<br />
特にヘルモードは、機械人形は手加減なしの実験を執行するので、容赦は一切ありません。<br />
<br />
詳しくは00注意事項をご視聴下さい。<br />
<br />
<br />
☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆収録シーン&難易度☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆<br />
<br />
■00　注意事項<br />
免責事項や説明。<br />
<br />
■01　プロローグ<br />
オナニーサポートについての説明。<br />
<br />
■02　実験準備　　★☆☆☆☆☆☆☆☆☆<br />
勃起の強制を行います。<br />
耳元で執拗に唾液の淫らな音を流し込みます。<br />
<br />
■03　我慢実験　　★★☆☆☆☆☆☆☆☆<br />
扱きたい気持ちへの我慢を実験します。<br />
じっくり嬲るようなスピードでのオナニーを強制します。<br />
<br />
■04　性交実験　　★★★☆☆☆☆☆☆☆<br />
女性との性行為で興奮するかを実験します。<br />
本格的に扱かせ、ペニスへ負荷をかけていきます。<br />
<br />
■05　水音実験　　★★★★☆☆☆☆☆☆<br />
フェラチオの真似で興奮するかを実験します。<br />
水音に連動した激しいオナニーで責め立てます。<br />
<br />
■06　羞恥実験　　★★★★★☆☆☆☆☆<br />
恥ずかしい行為で興奮するかを実験します。<br />
卑猥で情けない言葉を連呼させながらいたぶります。<br />
<br />
■07　罵倒実験　　★★★★★★☆☆☆☆<br />
見下したような罵倒で興奮するかを実験します。<br />
感情もなく厳しい言葉で激しく追い打ちをかけます。<br />
<br />
■08　耐久実験　　★★★★★★★★☆☆<br />
射精させるつもりで行う追加実験です。<br />
延々と長時間扱かせ、ペニスを狂わせます。<br />
(ベリーハードモード、ヘルモードのみ)<br />
<br />
■09　絶望実験　　★★★★★★★★☆☆<br />
射精させるつもりで行う追加実験です。<br />
何度も最高速で扱かせ、ペニスを射精させようとします。<br />
(ベリーハードモード、ヘルモードのみ)<br />
<br />
■10　最終確認　　★★★★★★★★★★<br />
極めて絶望的な執行を行います。<br />
内容はご自身でお確かめくださいませ。<br />
女性1、2が登場します。<br />
(ヘルモードのみ)<br />
<br />
■11　射精許可　　測定不能<br />
内容はご自身でお確かめくださいませ。<br />
女性1、2、3、4が登場します。<br />
(ヘルモードのみ特別仕様)<br />
<br />
<br />
視聴時間は、<br />
●ハードモード　　　　: 63:15<br />
●ベリーハードモード　: 75:45<br />
●ヘルモード　　　　　:107:15<br />
(いずれも『00注意事項』の時間は含まない)<br />
となっております。<br />
<br />
<br />
体験版には、<br />
00注意事項<br />
01プロローグ<br />
作中シーンの一部を3つ<br />
を収録。<br />
<br />
<br />
声優<br />
機械人形:ゅかにゃん様<br />
女性1:柚凪様<br />
女性2:井上果林様<br />
女性3:大山チロル様<br />
女性4:西浦のどか様<br />
<br />
イラスト<br />
Hobby様<br />
<br />
本作品の販売<br />
B-bishop <a rel="nofollow" href="http://pawnlank7.blog.fc2.com" target="_blank">http://pawnlank7.blog.fc2.com</a>
</div>


<div class="title_01 clearfix"><h2>動作環境<span>（必須/推奨）</span></h2></div>
<div class="work_article work_spec">
  <dl class="work_spec_list">
    <dt>作品番号</dt><dd>RJ189758</dd>
    <dt>注意事項</dt><dd>-</dd>
  </dl>
</div>

<script type="text/javascript">
//<![CDATA[

jQuery(document).ready(function($) {

    var
        summary_url = 'http://www.dlsite.com/maniax/announce/summary'
    ;

    $.post(
        summary_url,
        {

        "products": "RJ189758"

        },
        function (data, status) {
            var product_id, wishlist_count;
            for (i in data) {
                product_id = data[i]['product_id'];

                if (data[i]['wishlist_count']){
                    $("span._wishlist_count_" + product_id).text(data[i]['wishlist_count']);
                }else{
                    $("span._wishlist_count_" + product_id).text(0);
                }
            }
        },
        "json"
    );
});

//]]>
</script>

<script>

if (typeof $.dlsite === 'undefined') {
    $.dlsite = {};
}
$.extend(
    $.dlsite, {
        wishlist: {
            summaryUrl: 'http://www.dlsite.com/maniax/wishlist/ajax/=/type/1'
        }
    });


</script>
<script>

(function(){
    'use strict';

    var workno = 'RJ189758';

    if(!/^[RVB][JE][0-9]+$/.test(workno)) {
        return;
    }

    $.ajax({
        dataType: 'jsonp',
        type: 'GET',
        url: 'http://chobit.cc/api/v1/dlsite/embed',
        data: {
            'workno': workno
        }
    }).done(function(json){
        if(json.works && json.works.length > 0) {

            var work = json.works[0];
            var $playerBox = $('<div class="chobit_player" style="padding: 0 15px 15px 0;" />');
            var $playerIframe = $('<iframe frameborder="0" allowfullscreen />')
                .attr('src', work.embed_url)
                .attr('width', work.embed_width)
                .attr('height', work.embed_height);

            $playerBox.append($playerIframe);

            $('.work_article.work_story').prepend($playerBox);
        }
    });
})();

</script>
<!-- relation -->
<!-- /relation -->

<!-- same -->
<div class="title_01_br clearfix"><h3>意地悪な機械人形に完全支配される音声 地獄級射精禁止オナニーサポート4 ヘルエグゼキューションの同一シリーズ作品</h3></div>
<div class="work_article clearfix" id="work_same_series">
<div class="work_row_wide_list clearfix">
<div class="work_main_list_ncol">
<ul id="__work_same_series"><li style="width:175px"></li></ul>
</div>
</div>
<div class="work_more"><p><a href="http://www.dlsite.com/maniax/fsr/=/keyword/%E5%9C%B0%E7%8D%84%E7%B4%9A%E3%82%AA%E3%83%8A%E3%83%8B%E3%83%BC%E3%82%B5%E3%83%9D%E3%83%BC%E3%83%88+SRI0000011759/from/work.series">すべての作品を見る（4件）</a></p></div>
</div>


<script type="text/javascript">
jQuery(function($){
    $('#__work_same_series').slideProduct({
        'keys' : ['RJ169027','RJ163216','RJ152276',null],
        'detailUrl' : 'http://www.dlsite.com/maniax/load/recommend/detail/=/filter/on/rec/rec_announce',
        'onDisplay' : function(el){
            $.filterImage('#' + el.attr('id'));
        },
        'onDelete'  : function(el){
            el.parent().html('').append(jQuery('<p class="work_none">該当作品はありません。</p>'))
        }
    });
});
</script>


<!-- recommend -->

<div class="title_01 clearfix"><h3>こちらの作品も見られています</h3></div>
<div class="work_article clearfix" id="work_recommend">
<div class="work_row_wide_list clearfix">
<div class="work_main_list_ncol">
<ul id="_recommend_box_viewannouncegenresaleshistory" class="mheight_01" style="margin:0 30px">
<li style="float:left;width:175px"></li>
</ul>
</div>
<p class="carousel_arrow_left"><input id="_recommend_prev_viewannouncegenresaleshistory" class="carousel_left disable" type="button" value="&lt;&lt;" disabled="disabled"></p>
<p class="carousel_arrow_right"><input id="_recommend_next_viewannouncegenresaleshistory" class="carousel_right" type="button" value="&gt;&gt;"></p>
</div>


<script type="text/javascript">

jQuery(function($){

    // パラメータ設定
    var
        $wrapper = $('#_recommend_box_viewannouncegenresaleshistory'),
        _prev    = '#_recommend_prev_viewannouncegenresaleshistory',
        _next    = '#_recommend_next_viewannouncegenresaleshistory',

        listUrl  = [
                                                            'http://www.dlsite.com/maniax/load/recommend/=/type/viewannounce/product_id/RJ189758/layout/announce/reject/RG18195',
                                                                                        'http://www.dlsite.com/maniax/load/recommend/=/type/genre/product_id/RJ189758/layout/announce/reject/RG18195',
                                                                                        'http://www.dlsite.com/maniax/load/recommend/=/type/sales/product_id/RJ189758/layout/announce/reject/RG18195',
                                                                                        'http://www.dlsite.com/maniax/load/recommend/=/type/history/product_id/RJ189758/layout/announce/reject/RG18195',
                                                    null
        ],

        detailUrl = 'http://www.dlsite.com/maniax/load/recommend/detail/=/button/1/rec/rec_announce_viewannounce_genre_sales_history',
        rejectUrl = 'http://www.dlsite.com/maniax/load/not/interest/=/uid/' + $.cookie('uid')
    ;



    // スライダー作成
    $wrapper.slideProduct($.extend(
        {
            'listUrl'   : listUrl,
            'detailUrl' : detailUrl,
            'rejectUrl' : rejectUrl,
            'onDelete'  : function($item){
                // 表示する作品が0件の場合、表示エリアを削除
                $item.parents('.work_row_wide_list').prev('.title_sub_free').remove();
                $item.parents('.work_row_wide_list').remove();
            }
        },
        _prev.length ? {'prevButton': _prev, 'nextButton': _next} : {}
    ))
        .delegate('#dummy,a.btn_cart,a.btn_favorite,a.btn_nodisplay,a.btn_possession', 'click', function(e){
            var cl = $(e.target).attr('class');
            var op = {
                'cart'      :{'u':'cart',      's':'_in', 'm':'カートに入っています'},
                'favorite'  :{'u':'wishlist',  's':'_in', 'm':'お気に入り追加済み'},
                'nodisplay' :{'u':'nothanks_s','s':'_end','m':'設定済み', 'c':'設定済み[オススメに表示しない]'},
                'possession':{'u':'already_s', 's':'_end','m':'設定済み', 'c':'設定済み[他で持っている]'}
            }[cl.substr(4)];
            if (op) {
                $(e.target).removeClass(cl).addClass(cl + op.s).text(op.m).attr('title', op.c||op.m);
                $(e.target).parents('.__sp_detail').updateProduct();
                $.get('http://www.dlsite.com/maniax/cart/ajax/=/obj_nocheck/1/mode/'+op.u+'/'+$(e.target).attr('href').match(/product_id\/[^\.\/]+/)[0], void(0));
                e.preventDefault();
            }
        });
});

</script>

</div>
<!-- /recommend -->








</div>
<!-- /main_inner -->
</div>
<!-- /main -->

</div>
<!-- /wrapper -->

<!-- right -->
<div id="right">



<div id="work_buy_box_wrapper" class="_work_buy_box _work_buy_box_RJ189758"
    data-product-id="RJ189758"
>

  <div id="work_buy_box" class="work_buy_main work_ana">

    <div id="work_price">
      <div class="work_buy_container">
        <div class="work_buy_body">
          <div class="work_buy_label">発売予定時期</div>
          <div class="work_buy_content">
            <strong class="work_date_ana">2017年01月上旬</strong>
          </div>
        </div>
        <div class="work_buy_body">
          <div class="work_buy_label">予定価格</div>
          <div class="work_buy_content">
            <span class="price">1,000<i>円</i></span>
          </div>
        </div>
      </div>
    </div>

    <div id="work_buy_btn">
      <p class="work_favorite"><a href="http://www.dlsite.com/maniax/mypage/wishlist/announce/=/product_id/RJ189758.html" class="btn_favorite" id="_btn_favorite_RJ189758" data-product-id="RJ189758" data-added="false">お気に入りに追加</a></p>
    </div>

  </div>

  <div class="favorite_ana">
    <p class="text">お気に入りに追加すると、発売日にメールでお知らせを受け取れます。</p>
  </div>

    <div class="favorite_ana" style="display: none;">
    <p class="lead_select_radio">お知らせメール設定：</p>
    <div class="btn_select_box">
<ul class="btn_select_radio"><li data-receive="off" data-product-id="RJ189758">受信しない</li><li data-receive="on" data-product-id="RJ189758"><i class="fa fa-envelope-o" aria-hidden="true"></i> 受信する</li></ul><p class="popup_message_01" id="_popup_msg_RJ189758">設定しました</p>
    </div>
    <ul class="right_guide_ana_list">
      <li><a href="http://www.dlsite.com/maniax/mypage/wishlist/announce">お気に入り（予告）</a></li>
    </ul>
  </div>

</div>
  
  
  
<div class="right_module" id="same_work ">
  <h3>サークル作品一覧</h3>
  <div class="right_module_content">
    
        <div class="list_head"><h4>販売作品</h4></div>
    <table cellspacing="0" class="same_work">
              <tr>
        <td class="work_img"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ189640.html"><img src="//img.dlsite.jp/modpub/images2/work/doujin/RJ190000/RJ189640_img_mini.jpg" alt="言いなりなわんこに懐かれる音声▽・w・▽ [B-bishop]" title="言いなりなわんこに懐かれる音声▽・w・▽ [B-bishop]"  class="target_type" /></a></td>
        <td class="name">
          <span class="work_name"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ189640.html">言いなりなわんこに懐かれる音声▽・w・▽</a></span>
          <span class="work_price">￥1,080</span>
        </td>
      </tr>
              <tr>
        <td class="work_img"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ188901.html"><img src="//img.dlsite.jp/modpub/images2/work/doujin/RJ189000/RJ188901_img_mini.jpg" alt="機械調教工場で商品にされる女の子 機械姦CG&amp;amp;被虐Voice [B-bishop]" title="機械調教工場で商品にされる女の子 機械姦CG&amp;amp;被虐Voice [B-bishop]"  class="target_type" /></a></td>
        <td class="name">
          <span class="work_name"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ188901.html">機械調教工場で商品にされる女の子 機械姦CG&amp;被虐Voice</a></span>
          <span class="work_price">￥1,620</span>
        </td>
      </tr>
              <tr>
        <td class="work_img"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ187180.html"><img src="//img.dlsite.jp/modpub/images2/work/doujin/RJ188000/RJ187180_img_mini.jpg" alt="意地悪な三つ子の射精我慢ゲーム バイノーラルで輪姦される音声 [B-bishop]" title="意地悪な三つ子の射精我慢ゲーム バイノーラルで輪姦される音声 [B-bishop]"  class="target_type" /></a></td>
        <td class="name">
          <span class="work_name"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ187180.html">意地悪な三つ子の射精我慢ゲーム バイノーラルで輪姦される音声</a></span>
          <span class="work_price">￥1,080</span>
        </td>
      </tr>
              <tr>
        <td class="work_img"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ185758.html"><img src="//img.dlsite.jp/modpub/images2/work/doujin/RJ186000/RJ185758_img_mini.jpg" alt="お姉さんサキュバスのザーメンミルクレシピ [B-bishop]" title="お姉さんサキュバスのザーメンミルクレシピ [B-bishop]"  class="target_type" /></a></td>
        <td class="name">
          <span class="work_name"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ185758.html">お姉さんサキュバスのザーメンミルクレシピ</a></span>
          <span class="work_price">￥1,080</span>
        </td>
      </tr>
              <tr>
        <td class="work_img"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ184333.html"><img src="//img.dlsite.jp/modpub/images2/work/doujin/RJ185000/RJ184333_img_mini.jpg" alt="娼婦衣装を纏った少女～子宮まで捧げる売春RPG～DL版 [B-bishop]" title="娼婦衣装を纏った少女～子宮まで捧げる売春RPG～DL版 [B-bishop]"  class="target_type" /></a></td>
        <td class="name">
          <span class="work_name"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ184333.html">娼婦衣装を纏った少女～子宮まで捧げる売春RPG～DL版</a></span>
          <span class="work_price">￥1,944</span>
        </td>
      </tr>
              <tr>
        <td class="work_img"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ181782.html"><img src="//img.dlsite.jp/modpub/images2/work/doujin/RJ182000/RJ181782_img_mini.jpg" alt="真・寸止めオナサポ イヴの残酷すぎる執行で頭がバカになる音声 [B-bishop]" title="真・寸止めオナサポ イヴの残酷すぎる執行で頭がバカになる音声 [B-bishop]"  class="target_type" /></a></td>
        <td class="name">
          <span class="work_name"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ181782.html">真・寸止めオナサポ イヴの残酷すぎる執行で頭がバカになる音声</a></span>
          <span class="work_price">￥1,080</span>
        </td>
      </tr>
              <tr>
        <td class="work_img"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ180911.html"><img src="//img.dlsite.jp/modpub/images2/work/doujin/RJ181000/RJ180911_img_mini.jpg" alt="ロリサキュバス【エルザ】のお兄様いじめ 搾精CG&amp;amp;淫靡Voice [B-bishop]" title="ロリサキュバス【エルザ】のお兄様いじめ 搾精CG&amp;amp;淫靡Voice [B-bishop]"  class="target_type" /></a></td>
        <td class="name">
          <span class="work_name"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ180911.html">ロリサキュバス【エルザ】のお兄様いじめ 搾精CG&amp;淫靡Voice</a></span>
          <span class="work_price">￥1,620</span>
        </td>
      </tr>
              <tr>
        <td class="work_img"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ181000.html"><img src="//img.dlsite.jp/modpub/images2/work/doujin/RJ181000/RJ181000_img_mini.jpg" alt="獄ニー!少女に命令される地獄オナニーサポートボイス 生意気少女版 [B-bishop]" title="獄ニー!少女に命令される地獄オナニーサポートボイス 生意気少女版 [B-bishop]"  class="target_type" /></a></td>
        <td class="name">
          <span class="work_name"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ181000.html">獄ニー!少女に命令される地獄オナニーサポートボイス 生意気少女版</a></span>
          <span class="work_price">￥1,080</span>
        </td>
      </tr>
              <tr>
        <td class="work_img"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ180692.html"><img src="//img.dlsite.jp/modpub/images2/work/doujin/RJ181000/RJ180692_img_mini.jpg" alt="獄ニー!少女に命令される地獄オナニーサポートボイス 偏愛性少女版 [B-bishop]" title="獄ニー!少女に命令される地獄オナニーサポートボイス 偏愛性少女版 [B-bishop]"  class="target_type" /></a></td>
        <td class="name">
          <span class="work_name"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ180692.html">獄ニー!少女に命令される地獄オナニーサポートボイス 偏愛性少女版</a></span>
          <span class="work_price">￥1,080</span>
        </td>
      </tr>
              <tr>
        <td class="work_img"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ180312.html"><img src="//img.dlsite.jp/modpub/images2/work/doujin/RJ181000/RJ180312_img_mini.jpg" alt="獄ニー!少女に命令される地獄オナニーサポートボイス 無感情少女版 [B-bishop]" title="獄ニー!少女に命令される地獄オナニーサポートボイス 無感情少女版 [B-bishop]"  class="target_type" /></a></td>
        <td class="name">
          <span class="work_name"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ180312.html">獄ニー!少女に命令される地獄オナニーサポートボイス 無感情少女版</a></span>
          <span class="work_price">￥1,080</span>
        </td>
      </tr>
              <tr>
        <td class="work_img"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ179979.html"><img src="//img.dlsite.jp/modpub/images2/work/doujin/RJ180000/RJ179979_img_mini.jpg" alt="獄ニー!少女に命令される地獄オナニーサポートボイス 意地悪少女版 [B-bishop]" title="獄ニー!少女に命令される地獄オナニーサポートボイス 意地悪少女版 [B-bishop]"  class="target_type" /></a></td>
        <td class="name">
          <span class="work_name"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ179979.html">獄ニー!少女に命令される地獄オナニーサポートボイス 意地悪少女版</a></span>
          <span class="work_price">￥1,080</span>
        </td>
      </tr>
              <tr>
        <td class="work_img"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ179534.html"><img src="//img.dlsite.jp/modpub/images2/work/doujin/RJ180000/RJ179534_img_mini.jpg" alt="無感情毒舌娘『伊万里』のペニス検査 [B-bishop]" title="無感情毒舌娘『伊万里』のペニス検査 [B-bishop]"  class="target_type" /></a></td>
        <td class="name">
          <span class="work_name"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ179534.html">無感情毒舌娘『伊万里』のペニス検査</a></span>
          <span class="work_price">￥1,080</span>
        </td>
      </tr>
              <tr>
        <td class="work_img"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ177859.html"><img src="//img.dlsite.jp/modpub/images2/work/doujin/RJ178000/RJ177859_img_mini.jpg" alt="残酷なお人形さん遊び～女の子グループによるロリコン破壊オナサポ～ [B-bishop]" title="残酷なお人形さん遊び～女の子グループによるロリコン破壊オナサポ～ [B-bishop]"  class="target_type" /></a></td>
        <td class="name">
          <span class="work_name"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ177859.html">残酷なお人形さん遊び～女の子グループによるロリコン破壊オナサポ～</a></span>
          <span class="work_price">￥1,296</span>
        </td>
      </tr>
              <tr>
        <td class="work_img"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ174808.html"><img src="//img.dlsite.jp/modpub/images2/work/doujin/RJ175000/RJ174808_img_mini.jpg" alt="恐怖のアイアンメイデンはニガサナイ [B-bishop]" title="恐怖のアイアンメイデンはニガサナイ [B-bishop]"  class="target_type" /></a></td>
        <td class="name">
          <span class="work_name"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ174808.html">恐怖のアイアンメイデンはニガサナイ</a></span>
          <span class="work_price">￥972</span>
        </td>
      </tr>
              <tr>
        <td class="work_img"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ173248.html"><img src="//img.dlsite.jp/modpub/images2/work/doujin/RJ174000/RJ173248_img_mini.jpg" alt="搾精天使ピュアミルク 背後からバイノーラルでいじめられる音声 [B-bishop]" title="搾精天使ピュアミルク 背後からバイノーラルでいじめられる音声 [B-bishop]"  class="target_type" /></a></td>
        <td class="name">
          <span class="work_name"><a href="http://www.dlsite.com/maniax/work/=/product_id/RJ173248.html">搾精天使ピュアミルク 背後からバイノーラルでいじめられる音声</a></span>
          <span class="work_price">￥1,188</span>
        </td>
      </tr>
            </table>
    <p class="more_right"><a href="http://www.dlsite.com/maniax/fsr/=/keyword_maker_name/B-bishop+RG18195/ana_flg/all/from/work.same_maker">作品をもっと見る</a></p>

            <div class="list_head"><h4>シリーズ</h4></div>
    <div class="list_content">
      <ul class="list_content_series">
                    <li><a href="http://www.dlsite.com/maniax/fsr/=/keyword/SRI0000011759+%E5%9C%B0%E7%8D%84%E7%B4%9A%E3%82%AA%E3%83%8A%E3%83%8B%E3%83%BC%E3%82%B5%E3%83%9D%E3%83%BC%E3%83%88/from/work.same_series"><strong>「地獄級オナニーサポート」シリーズ（3作品）</strong></a></li>
                                <li><a href="http://www.dlsite.com/maniax/fsr/=/keyword/SRI0000011568+%E3%82%8F%E3%82%93%E3%81%93/from/work.same_series">「わんこ」シリーズ（3作品）</a></li>
                    <li><a href="http://www.dlsite.com/maniax/fsr/=/keyword/SRI0000014107+CG%EF%BC%86Voice/from/work.same_series">「CG＆Voice」シリーズ（2作品）</a></li>
                    <li><a href="http://www.dlsite.com/maniax/fsr/=/keyword/SRI0000011128+%E5%B0%84%E7%B2%BE%E6%88%91%E6%85%A2%E3%82%B2%E3%83%BC%E3%83%A0/from/work.same_series">「射精我慢ゲーム」シリーズ（3作品）</a></li>
                    <li><a href="http://www.dlsite.com/maniax/fsr/=/keyword/SRI0000014222+%E9%A0%AD%E3%81%8C%E3%83%90%E3%82%AB%E3%81%AB%E3%81%AA%E3%82%8B%E9%9F%B3%E5%A3%B0/from/work.same_series">「頭がバカになる音声」シリーズ（2作品）</a></li>
                    <li><a href="http://www.dlsite.com/maniax/fsr/=/keyword/SRI0000013972+%E7%8D%84%E3%83%8B%E3%83%BC%21/from/work.same_series">「獄ニー!」シリーズ（4作品）</a></li>
                  </ul>
    </div>
    <p class="more_right"><a href="http://www.dlsite.com/maniax/circle/profile/=/maker_id/RG18195.html">シリーズをもっと見る</a></p>
            </div>
</div>
  
  
  

  
  
  

  
  
  

  
  
  

  
  
  

  
  
  

  
  
  

  
  
  




</div>
<!-- /right -->





<!-- footer -->
<div id="footer">
    
    <p class="pagetop"><a href="#header">このページの上部へ</a></p>
<div id="footer_link">
<ul>
<li><a href="http://www.dlsite.com">総合トップ</a></li>
<li><a href="http://www.dlsite.com/maniax/">同人</a></li>
<li><a href="http://www.dlsite.com/pro/">PCソフト</a></li>
<li><a href="http://www.dlsite.com/books/">電子書籍</a></li>
<li><a id="_touch_link" href="http://www.dlsite.com/maniax-touch/announce/=/product_id/RJ189758.html" data-fallback="http://www.dlsite.com/maniax-touch/">スマホサイト</a></li>
<li><a href="http://chobit.cc" target="_blank">chobitへ</a></li>
<li><a href="http://www.nijiyome.jp" target="_blank">にじよめへ</a></li>
<li class="last"><a href="http://ch.dlsite.com" target="_blank">DLチャンネルへ</a></li>
</ul>

<script type="text/javascript">
jQuery(function($){
    $('#_touch_link').click(function(e){
        $.ajax({
            "url"    : $(e.currentTarget).attr('href'),
            "type" : "HEAD",
            "success": function(res)
            {
                location.href = $(e.currentTarget).attr('href');
            },
            "error"  : function()
            {
                location.href = $(e.currentTarget).attr('data-fallback');
            }
        });
        e.preventDefault();
    });
});
</script>

</div>
<ul id="footer_nav">
<li><a href="http://www.dlsite.com/maniax/guide/company">会社概要</a></li>
<li><a href="http://www.dlsite.com/maniax/user/regulations">利用規約</a></li>
<li><a href="http://www.dlsite.com/maniax/guide/law">特定商取引法に基づく表示</a></li>
<li><a href="http://www.dlsite.com/maniax/guide/settlement">資金決済法に基づく表記</a></li>
<li><a href="http://www.dlsite.com/maniax/guide/privacy">個人情報の取扱いについて</a></li>
<li><a href="http://www.dlsite.com/maniax/mosaic">コンプライアンスポリシー</a></li>
<li><a href="http://www.dlsite.com/maniax/guide/copy">著作権</a></li>
<li><a href="http://www.dlsite.com/maniax/banners">リンクについて</a></li>
<li><a href="http://www.dlsite.com/maniax/sitemap">サイトマップ</a></li>
<li class="last"><a href="http://www.eisys.co.jp/recruit.html" target="_blank" class="icon_link_blank_03">採用情報</a></li>
</ul>
<div id="system">推奨環境：Windows Internet Explorer10以降、最新版のSafari、Google Chrome、Mozilla Firefox（JavaScript・Cookieを許可）</div>
<div id="copyright">Copyright (C) 1996-2016 DLsite.com. All rights reserved.</div>
</div>
<!-- /footer -->

</div>
<!-- /container -->

<!-- script_footer -->
    
<script type="text/javascript">
(function(document, undefined) {
  "use strict";
  var $script = document.createElement('script');
  $script.src = document.location.protocol + '//banner.eisys-bcs.jp/js/bcs.min.js';
  document.body.appendChild($script);

  $(window).bind('guestbannerDelete', function(){
    var $guest_banner = $('.bcs_viewer').find('.__guest');
    if ($.cookie('loginchecked') >= 1 && $guest_banner.length > 0 ) {
      $guest_banner.remove();
    }
  });
})(document);
</script>



<style>
div.measure_tag { 
  height: 0 !important;
  width: 0 !important; 
  line-height: 0 !important; 
  font-size: 0 !important;
  margin-top: -10000px;
  margin-left: -10000px;
  float: left;
}
</style>

<div class="measure_tag">

  <!-- taggy track -->
<script type="text/javascript">
<!--
    var __taggyCid = 'dlsp';
    var __protocol = document.location.protocol;
    if (__protocol != 'http:' && __protocol != 'https:') __protocol = 'https:';
    var __taggyTag = '<sc' + 'ri' + 'pt ' + 'type="text/ja' + 'va' + 'sc' + 'ri' + 'pt" src="###SRC_URL###"><' + '/sc' + 'ri' + 'pt>';

    document.writeln(__taggyTag.replace('###SRC_URL###', __protocol + '//e01.taggyad.jp/js/entry.js'));
    document.writeln(__taggyTag.replace('###SRC_URL###', __protocol + '//e01.taggyad.jp/js/ext/' + __taggyCid + '.js'));
//-->
</script>
  <!-- evory retargeting -->
<script language='javascript' type='text/javascript' src='//dex.advg.jp/dx/p/us0?_aid=2663' async defer></script>
  <!-- adresult retargeting -->
<script type="text/javascript" charset="utf-8" src="//op.searchteria.co.jp/ads/onetag.ad?onetag_id=1103"></script>
  
<!-- fullout retargeting -->
<script async type='text/javascript' src='//js.fullout.jp/v1/t/201.js' /></script>


  
    
<script type="text/javascript">
//<!CDATA[
var deqwas = {
    iid: "RJ189758",
    uid: $.cookie('iom_jp')
};

setTimeout(function () {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.charset = 'UTF-8';
    script.async = true;
    script.src = (location.protocol == 'https:' ? 'https:' : 'http:') + '//dex00.deqwas.net/dlsitecom/scripts/x.js?noCache=' + Math.floor((new Date()).getTime()/3600000);
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(script, s);
}, 0);
//]]>
</script>

</div>


<script type="text/javascript">
(function($){

var dlsite = {
    'loginCheckUrl': 'http://www.dlsite.com/maniax/mypage/mygenre/=/c/1'
};

if (typeof $.dlsite === 'undefined') {
    $.extend({ 'dlsite': dlsite });
} else {
    $.extend($.dlsite, dlsite);
}

})(jQuery);
</script>


<div class="popup_login _popup _popup_mygenre_common" style="top:0;left:0">
  <p class="popup_close_button _popup_close"><a href="#">close</a></p>
  <table class="popup_my_genre search_condition" cellspacing="0">
    <tbody>
      <tr>
        <td class="popup_my_genre_text pt5" colspan="2">
          <ul class="error_list non_display _popup_mygenre_add_input_error_list"></ul>
          <p class="attn">マイジャンルご利用には<br>ユーザー登録が必要です</p>
          <a href="https://ssl.dlsite.com/maniax/guide/regist/user" class="popup_mygenre_regist" title="ユーザー登録">ユーザー登録</a>
          <div class="mygenre_chara01"></div>
                                                      <p class="my_genre_reg_btm mt10">ユーザー登録済みの方は[<a href="https://ssl.dlsite.com/maniax/mypage/mygenre" title="ログイン">ログイン</a>]</p>
          <p class="mt10 bordertop_dot">「マイジャンル」は検索条件やサークルを保存しワンクリックで表示したり、その条件に合う作品が発売されたらメールでお知らせする「お知らせメール」の機能が利用できます。</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>

  <div id="hyouka_detail" class="hyouka_detail" style="display: none;">
  <table>
    <tr>
      <th>評価平均</th>
      <td class="count"><span class="eva_ave"><%= average %></span><span class="eva_count">(<%= count %>)</span></td>
    </tr>
    <tr>
      <th>評価内訳</th>
      <td>
        <dl class="eva_break_count">
          <dt><p class="work_hyouka_5" title="評価5">評価5</p></dt>
          <dd class="eva_count">(<%= eva5 %>)</dd>
          <dt><p class="work_hyouka_4" title="評価4">評価4</p></dt>
          <dd class="eva_count">(<%= eva4 %>)</dd>
          <dt><p class="work_hyouka_3" title="評価3">評価3</p></dt>
          <dd class="eva_count">(<%= eva3 %>)</dd>
          <dt><p class="work_hyouka_2" title="評価2">評価2</p></dt>
          <dd class="eva_count">(<%= eva2 %>)</dd>
          <dt><p class="work_hyouka_1" title="評価1">評価1</p></dt>
          <dd class="eva_count">(<%= eva1 %>)</dd>
        </dl>
      </td>
    </tr>
  </table>
</div>

<!-- /script_footer -->

</body>
</html>
